<h2>{{serie.titre | uppercase}} Details</h2>
<div><span>id: </span>{{serie.idSERIE}}</div>
<div><span>Titre: </span>{{serie.titre}}</div>
<div><span>Description: </span>{{serie.description}}</div>
<div><span>annee: </span>{{serie.annee}}</div>
<div><span>image: </span>{{serie.image}}</div>
<br/>
<div>
  <label>titre:
    <input [(ngModel)]="serie.titre" placeholder="titre">
  </label>
</div>
<div>
  <label>Description:
    <input [(ngModel)]="serie.description" placeholder="description">
  </label>
</div>
<div>
  <label>annee:
    <input [(ngModel)]="serie.annee" placeholder="annee">
  </label>
</div>
<div>
  <label>image:
    <input [(ngModel)]="serie.image" placeholder="image">
  </label>
</div>

