
<h2>Nos Séries</h2>
<ul class="heroes">
  <li *ngFor="let serie of series" 
  [class.selected]="serie === selectedSerie"
  (click)="onSelect(serie)" 
  >
    <span class="badge">{{serie.idSERIE}}</span> {{serie.titre}}
  </li>
</ul>



<div *ngIf="selectedSerie">

  <h2>{{selectedSerie.titre | uppercase}} Details</h2>
  <div><span>id: </span>{{selectedSerie.idSERIE}}</div>
  <div>
    <label>Titre:
      <input [(ngModel)]="selectedSerie.titre" placeholder="titre">
    </label>
  </div>
  <div>
    <label>Titre:
      <input [(ngModel)]="selectedSerie.titre" placeholder="titre">
    </label>
  </div>

  <div>
    <label>Description:
      <input [(ngModel)]="selectedSerie.description" placeholder="description">
    </label>
  </div>
  <div>
    <label>ImageURL:
      <input [(ngModel)]="selectedSerie.image" placeholder="image">
    </label>
  </div>
</div>